.html,.body{
   height:100%;
   width:100%;
    color: #4c4c4c;
    background-color: #f8f9fb;
}

body {
    font: 16px/1.2 brandon, Arial, Helvetica Neue, Helvetica, sans-serif;
}

nav.header {
  	background:white;
  	color: black;
  	box-shadow:0px 2px 5px 0px rgba(0,0,0,.09);
    position: sticky ;
    top: 0px;  

  }
  .nav-link{
    color:black;
  }

  .bg-home-grad {
  background: transparent;
  }

  .bg-gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }

  .navbar-brand .logo-image {
  	width: 200px;
  	height: 50px;
  	vertical-align: middle;
  	margin-left: 10px;
    opacity: 1;
    animation:example 6s 2s infinite;
  }
  /*@keyframes example{*/
    /*from{width:0%;}*/
    /*to{left:100%;}*/
  /*}*/
  .carousel{
    height:360px;
  }
  .carousel-caption{
     left:-60% !important;
     right:65%!important;
     height:150px !important;
    vertical-align: center !important;
  }
  .carousel-caption h2{
     width:400px;
   /*  font-weight: bold;*/
     position: relative;
     animation: mymove 5s infinite;
     background-color: rgba(0,80,100,0.8);
     font-family: 'Abril Fatface', cursive;
     color: aqua;
     border: 2px solid white;
  }
  .carousel-caption h5{
     width:300px;
     font-weight: bold;
     position: relative;
     animation: mymove 5s infinite;
     background-color: rgba(0,0,100,0.2);
     font-family: serif;
     border:2px solid black;
    /* box-shadow: 0px 2px 5px 0px;*/
      
  }
  /*#h3{*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-direction: normal;*/
    /*text-align:center;*/
    /*color:black;*/
  /*}*/
  /*#h1{*/
    /*animation-timing-function: ease-in;*/
    /**/
  /*}*/
  /*@keyframes mymove{
    from{left:0%;}
    to{left:100%;}
  }*/
  .carousel-inner > .carousel-item > img{
     width:100%;
     height:360px;
  }

  .carousel-item {
      position: relative;
  }

  .black-layer {
      position: absolute;
      height: 100%;
      width: 100%;
      top:0;
      left:0;
      background-color: rgba(21, 21, 20, 0.25);
  }
  .carousel-indicators{
    margin-bottom: 50px;
    height:30px;
    color:grey;
  }
  .carousel-indicators #one {
   /*margin:5px 5px 5px 5px;*/
   height: 12px;
   width: 12px;
   border-radius: 100%;
  
}
.carousel-indicators #two {
   /*margin:5px 5px 5px 5px;*/
   height: 12px;
   width: 12px;
   border-radius: 100%;
  
}
.carousel-indicators #three {
   /*margin:5px 5px 5px 5px;*/
   height: 12px;
   width: 12px;
   border-radius: 100%;
  
}
.carousel-indicators #four {
   /*margin:5px 5px 5px 5px;*/
   height: 12px;
   width: 12px;
   border-radius: 100%;
  
}
.carousel-indicators #five {
   /*margin:5px 5px 5px 5px;*/
   height: 12px;
   width: 12px;
   border-radius: 100%;
  
}
.carousel-indicators .active{
    /*background-color: rgb(50,100,200);*/
  }
.carousel-control{
  width:64px !important;
  height:64px !important;
  margin:150px 5px 230px 5px;
  background-color:black;
  opacity:0.4 !important;
  border-radius: 32px;
} 

.carousel-control #icon1, .carousel-control #icon2{
  height:40px;
  
}
.mobile{
display: block;
}
.Desktop{
display: none;
}
@media (min-width:992px){
    .mobile{
    display: none;
    }
    .Desktop{
    display: block;
    }
} 


.layer2{
  background-color: #ECF0F1;;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*height:400px;*/
  /*margin-top: 0px;*/
}
.layer2 > .container{
  height:100%; 
}
#section-2 .heading{
  height:100px;
  padding-top:50px;
} 
.why-data {
    position: relative;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-box-circle{
  /*background-color: red;*/
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:250px;
    width: 250px;
    box-shadow: 0 42px 33px -27px rgba(104, 178, 226, 0.8);
    border: 6px solid #2b9eca;
    margin: 20px;
    border-radius: 7px;
    background-color: #fff
}

.process-step-arrow:after {
    content: '';
    height: 3px;
    background: #2b9eca;
    width: 85px;
    position: absolute;
    right: -42px;
    top: 50%;
}

.process-step-arrow:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    border-style: solid;
    border-width: 10px 0 7px 20px;
    border-color: transparent transparent transparent #2b9eca;
    right: -45px;
    transform: translateY(-50%);
}

.section-subhead {
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.icon-box-circle:hover {
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 2px 20px 0 #2b9eca;
}

.icon-box-content{
    position: relative;
}
.icon-box-content .sec-process-title{
    padding: 10px 12px;
    color: white;
    background-color: #2090c5;
    position: sticky;
    max-height: 70px;
    font-size: 15px;
}

.icon-box-content .sec-process-title span.badge {
    background-color: white;
    color: #2b9eca;
    height: 24px;
    width: 24px;
    border-radius: 14px;
    padding-top: 5px;
    font-size: 14px;
    margin-right: 2px;
}

.icon-box-content .sec-process-body{
    font-size: 14px;
    text-align: left !important;
    padding: 10px;
    overflow-y: auto;
    max-height: 180px;
}

.section-grey {
    background-color: #f5f5f5;
}

.section {
    padding: 75px 0;
}

.section-title{
    position: relative;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.section-title:after {
    position: absolute;
    bottom: -25px;
    left: 46%;
    width: 100px;
    height: 3px;
    background-color: #BDBDBD;
    content: '';
    text-align: center;
}

.section-heading {
    margin : 20px auto;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: "Helvetica Neue";
}
/*.layer4{
  background-color: white!important;
}*/
.price img{
   margin-top: 10px;
}
.price{
    background-color: white;
    margin: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 15px;
    height: 240px;
    border: 1px solid #d9d9d9;
    text-align: left;
}
.price h5{
  color:#00AEEF;
  text-transform: uppercase;
    margin-top: 12px;
}
.price:hover{
   /*box-shadow: 0px 6px 12.5px 0px;*/
}

.price-plan {
    margin-top: 50px;
}

.price-plan .card{
    padding: 34px 32px;
    color: #a6aaac;
    background-color: #fff;
    min-height: 530px;
}


.layer4 .card .price-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: 500;
    color: #1f1b28;
}

.card .price-text {
    margin-bottom: 3px;
    text-transform: capitalize;
    min-height: 24px;
}

.card .price-amount {
    margin-bottom: 48px;
    margin-top: 30px;
    color: #1f1b28;
}

.price-amount .price-cost {
    margin-right: 6px;
    line-height: 1;
    font-size: 48px;
    display: inline-block;
}

.price-amount .price-billing {
    position: relative;
    top: 5px;
    color: #1f1b28;
    display: inline-block;
}

.price-decor {
    background-image: linear-gradient(90deg, #073aae, #2c6ada);
    height: 5px;
    margin-bottom: 32px;
}

.price-deposit {
    margin-top: 15px;
    color: #a6aaac;
    text-transform: capitalize;
}

ul.price-points {
    list-style-type: none;
    margin : 0;
    padding: 0;
    margin-bottom: 45px;
}

ul.price-points li {
    margin: 10px 5px;
}

ul.price-points li i {
    color: #205dce;
    font-size: 18px;
    margin-right: 10px;
}

.price-action {
    text-align: center;
    position: absolute;
    bottom: 30px;
}

.btn-rent {
    color: #205dce !important;
    padding: 9px !important;
    width: 160px;
    text-align: center;
    border: 2px solid #205dce !important;
    font-weight: 700;
    font-size: 16px;
}

.btn-rent:hover {
    transition: 0.4s;
    color: white !important;
    background-color: #205dce;
}

/*#pricing.card h4,h5,h6,p{
  color: white;
}*/
.layer4 .card:hover{
    box-shadow: 0 0 44px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
    transform: scale(1.02);
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.layer5 th,td,tr{
   border:5px solid white !important;
}
.layer5 table{
   border:7px solid;
   border-color:yellow  lightgreen lightgreen  yellow ;
   background-color: yellow;
}
.layer5 td{
  background-color: lightblue;
}
.layer5 th{
  background-color: pink;
}
.layer5 hr{
  width:100px;
  margin-top:20px;
  margin-bottom: 50px;
  height:2px;
  background-color:grey;
  border-color: grey;
}
#layer{
  position:relative;
  margin-top:32px; 
  height: auto;
}

#box1{
  position: relative;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
}
.boxpad{
    background-color:#1a3c34;
    margin-right: 32px;
    margin-left:32px;
    height:auto;
    width:auto;
    padding: 54px 10px 18px 10px;
}
#block1{
   /*height:300px;*/
   padding-bottom:50px;
}
.title img{
  width:300px;
  height:75px;
  vertical-align: center;
  margin:20px 20px 20px 20px;
}
.title{  
  padding:0 0 0 80px;
}
.menu{
  padding-left:100px;
  margin-bottom: 0px;
}
.menu .list{
  display:inline-block;
  padding-right: 20px;
  font-family: serif;
  font-size: medium;
}
.list a{
  color:white;
}
.list a:hover{
  color:white;
}
.box2{  
  padding:0 0 0 80px;
  height:100px;
  width:100%;
}
.box2 .title2{
  padding:40px 20px 20px 20px;
  color: white;
  font-family: serif;
}
.subscription{
  padding-left: 100px;
  font-family: serif;
  font-size: large;
}
#a{
    height:50px;
    width:300px;
    margin-right: -5px;
    border:2px solid rgb(82,120,77);
    background-color: #1a3c34;
    /*border-right: 2px;*/
    color: white;
}
::placeholder{
   color:white;
   padding-left: 20px;
  }
#b{
   height:50px;
   background-color: #1a3c34;
   margin-left:0px;
   border:2px solid rgb(82,120,77);
   color: white; 
   align-items: center;
}
.check{
   padding-left:100px;
   padding-top: 10px;
   color:white;
}

.part2{
  margin:20px 20px 20px 0px;
  height:50px;
}
.part2 .list2{
  display: inline-flex;
  font-family: serif;
  list-style: none;
  padding-left: 50px;
}
.list2 .law{
  padding-right:30px;
}
.list2 a{
  color:#bbc5ba;
}
.list2 a:hover{
  color:#bbc5ba;
}
.part3{
  color: #bbc5ba;
  padding-left: 30px;
}
.list3{
  padding-left:150px;
}
.list3 a{
  color:white;
}
.list3 a:hover{
  color:white;
  text-decoration: none;
}
.icon1{
  display:inline-block;
  list-style:none;
  padding-right:10px;
}

.mar-t-50 {
    margin-top: 50px;
}

.mar-b-50 {
    margin-bottom: 50px;
}

.mar-t-30 {
    margin-top:30px;
}

.card-main {
box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.card-main:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15)
}

.card-desc {
    background: #fff;
    text-align: center;
    padding: 20px 30px 10px;
    border: 1px solid #dedede;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    height: 300px;
    overflow-y: auto;
}

.container {
    margin: 50px auto !important;
}

.img-card-icon {
    height: 64px;
    margin: 25px auto;
    position: relative;
}

.card-desc h5 {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: 600;
}

.card-desc p {
    text-align: left;
    font-size: 12px;
    margin-top: 25px;
}

.section-process {
    background-color: #ffffff;
}

.section-process .card-lists {
    margin-top: 30px;
    padding: 25px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.section-process .card-desc {
    background: #FFFFFF;
    height: 250px;
    padding: 20px 10px;
}

.section-process .card-main:hover {
    box-shadow: 0 0 38px rgba(0,0,0,.15);
    transition: all 0.3s ease;
}

.section-process .card-desc:hover {
    border: 1px solid #327ad2
}

.section-process .process-step{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #327ad2;
    text-align: center;
    top: 1%;
    border-radius: 50%;
    left: 41%;
    z-index: 999;
    font-size: 17px;
    margin-top: 0px;
    padding-top: 10px;
    color: white;
}

.section-process .card-desc-title {
    color: #327ad2;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 16px;
    font-size: 14px;
}

.section-process .card-desc-text {
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
    height: 165px;
    overflow-y: auto;
}

.section-process .card-contact {
    background-color: #327ad2;
    color: white;
}

.section-process .card-contact .card-desc-title {
    color: #94f9d7;
    font-size: 28px;
    text-transform: capitalize;
}

.section-process .card-contact .card-desc-text {
    font-size: 19px;
}


/*col md*/

@media (min-width: 300px) {
    .card-contact {
        display: none;
    }
}

/*col md*/
@media (min-width: 768px) {
    .card-contact {
        display: none;
    }

}

/*col lg*/
@media (min-width: 992px) {
    .card-contact {
        display: none;
    }
}

/*col-xl*/
@media (min-width: 1200px) {
    .card-contact {
        display: none;
    }

}
