.html,.body{
   height:100%;
   width:100%;
    color: #4c4c4c;
    background-color: #f8f9fb;
}

nav.header {
  	/*background: white;*/
  	color: black;
  	box-shadow:0px 2px 5px 0px rgba(0,0,0,.09);
    position: sticky ;
    top: 0px;

  }

  .navbar-brand .logo-image {
  	width: 200px;
  	height: 50px;
  	vertical-align: middle;
  	margin-left: 10px;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border-color: black;
  }
  .carousel{
    height:360px;
  }
  .carousel-inner > .carousel-item > img{
     width:100%;
     height:360px;
  }

  .carousel-item {
      position: relative;
  }

  .black-layer {
      position: absolute;
      height: 100%;
      width: 100%;
      top:0;
      left:0;
      background-color: rgba(21, 21, 20, 0.25);
  }

  .carousel-indicators{
    margin-bottom: 50px;
    height:30px;
  }
  .carousel-indicators #one {
   /*margin:5px 5px 5px 5px;*/
   height: 10px;
   width: 10px;
   border-radius: 100%;
  
}
.carousel-indicators #two {
   /*margin:5px 5px 5px 5px;*/
   height: 10px;
   width: 10px;
   border-radius: 100%;
  
}
.carousel-indicators #three {
   /*margin:5px 5px 5px 5px;*/
   height: 10px;
   width: 10px;
   border-radius: 100%;
  
}
.carousel-indicators #four {
   /*margin:5px 5px 5px 5px;*/
   height: 10px;
   width: 10px;
   border-radius: 100%;
  
}
.carousel-indicators #five {
   /*margin:5px 5px 5px 5px;*/
   height: 10px;
   width: 10px;
   border-radius: 100%;
  
}
.carousel-indicators .active{
    background-color: blue;
  }
.carousel-control{
  /*height:100px;*/
  /*margin-top:250px;*/
  /*margin-bottom: 250px;*/
} 
/*#icon1 .carousel-control-prev-icon {
   padding:10px 20px 10px 0px;
}*/
.carousel-control #icon1, .carousel-control #icon2{
  height:40px;
}



.layer2{
  background-color: #fff;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*height:400px;*/
  /*margin-top: 0px;*/
}
.layer2 > .container{
  height:100%; 
}
#section-2 .heading{
  height:100px;
  padding-top:50px;
} 
.why-data {
    position: relative;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.icon-box-circle{
  /*background-color: red;*/
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:250px;
    width: 250px;
    box-shadow: 0 42px 33px -27px rgba(104, 178, 226, 0.8);
    border: 6px solid #2b9eca;
    margin: 20px;
    border-radius: 7px;
    background-color: #fff
}

.process-step-arrow:after {
    content: '';
    height: 3px;
    background: #2b9eca;
    width: 85px;
    position: absolute;
    right: -42px;
    top: 50%;
}

.process-step-arrow:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    border-style: solid;
    border-width: 10px 0 7px 20px;
    border-color: transparent transparent transparent #2b9eca;
    right: -45px;
    transform: translateY(-50%);
}

.icon-box-circle:hover {
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 2px 20px 0 #2b9eca;
}

.icon-box-content{
    position: relative;
}
.icon-box-content .sec-process-title{
    padding: 10px 12px;
    color: white;
    background-color: #2090c5;
    position: sticky;
    max-height: 70px;
    font-size: 15px;
}

.icon-box-content .sec-process-title span.badge {
    background-color: white;
    color: #2b9eca;
    height: 24px;
    width: 24px;
    border-radius: 14px;
    padding-top: 5px;
    font-size: 14px;
    margin-right: 2px;
}

.icon-box-content .sec-process-body{
    font-size: 14px;
    text-align: left !important;
    padding: 10px;
    overflow-y: auto;
    max-height: 180px;
}

.section-heading {
    margin : 20px auto;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: "Helvetica Neue";
}
.layer4 .card{
     height:300px;
     max-height: 400px;
     width:300px;
     margin:10px 10px 10px 10px;
     text-align: center;
     box-shadow: 0px 2px 5px 0px;
}
.layer4 .card:hover{
  box-shadow: 0px 5px 10px 0px;
}
.layer5 .card{
     height:400px;
     width:300px;
     margin:20px 20px 20px 20px;
     text-align: center;
     box-shadow: 0px 2px 5px 0px;
}
.layer5 .card:hover{
  box-shadow: 0px 10px 20px 0px;
}
.layer5{

}

.mar-t-50 {
    margin-top: 50px;
}

.mar-b-50 {
    margin-bottom: 50px;
}


